/* set the font and colour for the text view in the scrolling window */
textview.view {
     font: 15px "Andale Mono";
     color: #FFFF00;
}

/* set the font and colour for the text entry field */
entry {
     font: 14px "DejaVu Sans";
     color: #FFFF00;
}
